.carousel{
    height: 80vh;
    /* background-color: black; */
    
}

.carouselItem{
    background: linear-gradient(to right, rgba(0, 0, 0, 0.9) 15%, rgba(0, 0, 0, 0));
   
}

.carouselImage {
    object-fit: cover;
    width: 100vw;
    height: 80vh;
    
}


.captionHolder{
    background: rgba(255, 255, 255, 0.34);
    /* border-radius: 16px; */
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    backdrop-filter: blur(9.5px);
    -webkit-backdrop-filter: blur(9.5px);
    /* border: 1px solid rgba(255, 255, 255, 0.28) */
}


/* style={{ backgroundImage: `linear-gradient(to right, rgba(0,0,0,0.9)15%, rgba(0,0,0,0)), ` }} */