.container{
    height: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 2%;
    padding-bottom: 2%;
    /* background-image: url('../src/assets/bg.jpg'); */
    /* background-size: cover; */
    /* background-color: black; */
}

.serviceContainer {
    width: 30%;
    height: 220px;
    /* min-height: 150px; */
    /* float: left; */
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    box-shadow: 0px 8px 16px 0px rgba(68, 67, 67, 0.2);
    border-radius: 5px;
   

}

.mainServiceHeader{
    color: #2d5477;
    font-size: 20px;
    padding-bottom: 1%;
    margin-right: 5%;
    /* width: 65%;
    background-color: black; */

}
  

.serviceImage{
    height: 50px;
    width: auto;
}

.servicesWrapper{
    width: 70%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    gap: 20px;
}

.serviceHeader{
    font-size: 15px;
    font-weight: 600;
}

.imageHolder{
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: aqua;
    display: flex;
    align-items: center;
    justify-content: center;
}

.serviceDescription{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 70%;
    /* background-color: yellow; */
}

.serviceDesc{
    font-size: 13px;
    /* color:#2d5477; */
}

.clickMore{
    color: #2d5477;
    font-size: 12px;
    padding: 5px;
    /* bottom: 0; */
}

.headerHolder{
    background-color: yellow;
    width: 65%;
}



